body {
    font-family:'Courier New', Courier, monospace;
    text-align: center;
}

#board {
    background-image: url("./flappybirdbg.jpg");
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
}